body {

    font-family:monospace;
    text-align: center;
    background-color: white;

}

.logo {

    margin-top: 5%;

}

.title {

    text-transform: uppercase;
    font-size: 60px;
    color: darkblue;
    margin-bottom: 8px;

}

.subtitle {

    font-size: 25px;
    color: black;
    margin-top: 6px;

}

.input__items {

    margin-top: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

}

input {

    width: 500px;
    height: 23px;

}

button {

    width: 200px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    background-color: darkblue;
    border-radius: 8px;

}

button:hover {

    background-color: black;
    cursor: pointer;

}

#button__confirm {

    font-size: 18px;
    text-shadow: black;

}

.informations {

    font-size: 20px;

}

#nome-exibido {

    font-size: 23px;

}

span {

    color: darkblue;

}